appdirs==1.4.4
astroid==2.3.3
attrs==19.3.0
Automat==0.8.0
autopep8==1.5
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
constantly==15.1.0
cycler==0.10.0
cymem==2.0.3
distlib==0.3.0
dnspython==1.16.0
filelock==3.0.12
Flask==1.1.1
Flask-Cors==3.0.8
Flask-PyMongo==2.3.0
gunicorn==20.0.4
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
ipaddress==1.0.23
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.0
joblib==0.14.1
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
murmurhash==1.0.2
mysql-connector-python==8.0.19
netifaces==0.10.9
ntplib>=0.3.3
numpy==1.18.2
pandas==1.0.3
preshed==3.0.2
protobuf==3.6.1
pycodestyle==2.5.0
PyHamcrest==2.0.0
pylint==2.4.4
pymongo==3.10.1
pyp2p==0.8.2
pyparsing==2.4.7
pyroute2==0.5.7
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
Twisted==19.10.0
urllib3==1.25.7
utils==1.0.1
virtualenv==20.0.25
Werkzeug==0.16.1
wrapt==1.11.2
zope.interface==4.7.1
